@import "../variables.scss";

.carouselCards {
  display: none;
}

@media (max-width: 700px) {
  .carouselCards {
    display: block;
    .carousel {
      .carousel-slider {
        width: 390px;
      }
    }
  }
}
