@import "../variables.scss";

.carouselStaff {
  display: none;
}

@media (max-width: 700px) {
  .carouselStaff {
    display: block;
    justify-content: center;
    .carousel {
      .carousel-slider {
        width: 390px;
      }
    }

    &-content {
      margin-bottom: 180px;
    }
  }
}
