@import "../variables.scss";

.staff-content {
  margin-top: 200px;
  padding: 0 154px 0 175px;
  font-family: "Nunito";

  &-titles {
    & h2 {
      color: $primary-green;
      font-weight: 700;
      font-size: 40px;
      margin: 0;
    }

    & p {
      font-size: 24px;
      color: rgb(155, 155, 155);
    }
  }
  &-proyects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 95px;
  }
}

@media (max-width: 700px) {
  .staff-content {
    margin-top: 150px;
    padding: 0 60px 0 60px;
    font-family: "Nunito";

    &-titles {
      & h2 {
        color: $primary-green;
        font-weight: 700;
        font-size: 32px;
        margin: 0;
      }

      & p {
        font-size: 20px;
        color: rgb(155, 155, 155);
      }
    }
    &-proyects {
      display: none;
    }
  }
}
