@import "../variables.scss";

.staff-content {
  margin-top: 167px;
  padding: 0 154px 0 175px;
  font-family: "Nunito";

  &-titles {
    & h2 {
      color: $primary-green;
      font-weight: 700;
      font-size: 48px;
      margin: 0;
    }
  }
  &-proyects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 120px;
    row-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    font-weight: 300;
    font-size: 24px;
    margin: 0;
  }
}
