@import "../variables.scss";

.ubicacion-content {
  margin-top: 200px;
  margin-left: 154px;
  margin-right: 175px;
  font-family: "Nunito";

  &-titles {
    & h2 {
      color: $primary-green;
      font-weight: 700;
      font-size: 48px;
      margin: 0;
    }

    & p {
      font-size: 24px;
      color: rgb(155, 155, 155);
    }
  }
  &-proyects {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
}

@media (max-width: 700px) {
  .ubicacion-content {
    margin-top: 100px;
    margin-left: 60px;
    margin-right: 60px;
    font-family: "Nunito";

    &-titles {
      & h2 {
        color: $primary-green;
        font-weight: 700;
        font-size: 40px;
        margin: 0;
      }

      & p {
        font-size: 20px;
        color: rgb(155, 155, 155);
      }
    }
    &-proyects {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
  }
}
