$primary-green: #05b25a;

$secondary-green: #9debc2;

$terciary-green: #d8f5e5;

$black: #272727;

$grey: #838383;

$title: 48px;

$paragraph: 24px;

$title-component: 36px;

$title-paragraph: 12px;

$button: 16px;
